body, html{
	font-family: 'Roboto', sans-serif;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

a.cta {
    font-weight: 300;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    background-color: #0A0A0A;
    display: inline-block;
    padding: 5px;
    min-width: 40px;
    margin: 15px 2px;
    text-align: center;
}
nav{
    min-height: 70px;
    background-color: #0A0A0A;
    padding: 0 160px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.20);
    position: sticky;
    top: 0;
    z-index: 1;
    vertical-align: middle;
}

nav .logo{
    float: left;
    box-sizing: border-box;
    width: 49px;
    height: 48px;
    position: absolute;
    top: calc(50% - 24px);
}

nav .logo img {
    padding: 0;
    margin: 0;
    width: 49px;
    height: 48px;
}

nav .logo a {
    padding: 0;
    margin: 0;
}

nav .menu {
    float: right;
}

nav ul {
    float: right;
    padding: 0;
    margin: 0;
}

nav ul li {
    padding: 0;
    margin: 0;
    display: block;
    float: right;
}

nav a {
    font-size: 16px;
    font-weight: 300;
    color: #C8C8C8;
    text-decoration: none;
    padding: 21px 10px;
    line-height: 29px;
}

nav a img {
    width: 27px;
    height: 27px;
    vertical-align: middle;
}


.profile_image {
	width: 40px;
  height: 40px;
	border-radius:50%;
	vertical-align: middle;
	border-style: solid;
	border-color: white;
	border-right-color:#32CD32;
  border-width: 3px;
	margin: 12px;
}

.refine_form {
	position: fixed;
  float: left;
  background-color:#E6F4F1;
  width: 300px;
  padding: 2%;
	height: 1385px;
}
.refine_form h2 {
	font-size: 15px;
}
.price_form p, input{
	display: inline-block;
}
.price {
	width: 25%;
	outline-style: none;
	border: 1px solid;
	border-color: #E6F4F1;
	border-bottom-color: grey;
	background-color: #E6F4F1;
	color: black;
	margin-left: 4px;
	margin-right: 10px;
}
.stars-bg{
    position: relative;
    display: inline-block;
    height: 30px;
    width: 150px;
    background: url(../img/rating_star_g.png) 0 0;
		background-size: 30px;
}
.star-active{
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    height: 100%;
    background: url(../img/rating_star_y.png) 0 0;
		background-size: 30px;
}
.custom-select select{
	width: 200px;
	height: 30px;
	background-color: #E7E7E7;
}
.tags {
	margin-top: 50px;
}
.tag {
    display: inline-block;
    margin-top: 10px;
    margin-right: 5px;
    padding: 8px 9px;
    background-color: #dde0e0;
    border-radius: 13px;
    box-shadow: 0.75px 1px 2px rgba(0, 0, 0, 0.25);
    font-size: 15px;
    line-height: 17px;
    font-weight: 300;
}




.search_form {
	position:relative;
	z-index: 0;
  float:left;
	margin-left: 360px;
	width: 70%;
	height: 1600px;
	background-color: #fff;
	padding:3%;
	height: auto;
}
#logo_mid {
	float: left;
	margin-left: 20px;
	width: 90px;
	height: 90px;
}
.search_inputbox {
	margin-left: 130px;
}
.search_inputbox p {
	margin-left: 10px;
	font-size: 15px;
	color: #808080;
}
#search_input{
	float: left;
	padding: 5px;
	margin: 5px;
	width: 700px;
	height: 22px;
	border-radius:10px;
}
.search_icon {
	width: 30px;
	height: 30px;
}
.sort_info p, label, select{
	display: inline-block;
}
.sort_info select {
	margin-top:50px;
	margin-left: 8px;
	width: 200px;
	height: 25px;
}
.sort_info label {
	float: right;
	margin-right: 7%;
}


.each_archi {
	background-color: #f2f3f5;
	width: 90%;
  height:300px;
	padding: 20px;
	margin-bottom: 5%;
	border: solid 1px #f2f3f5;
}
.each_archi:hover {
	border: dotted 1px black;
	background-color: #EEFBF5;
}
.info {
	overflow: hidden;
	width: 400px;
	float: left;
	list-style-type: none;
	line-height: 3px;
	margin-top: 0px;
}
.archi_photo {
	margin-right: 10px;
	border-radius:50%;
	border-style: solid;
	border-color: #f2f3f5;
	border-right-color:#32CD32;
  border-width: 6px;
	float: left;

}

.show_archi_image{
	float: left;
	border: 3px white inset;
	width: 400px;
	height: 290px;
}
.stars-bg2{
    position: relative;
    display: inline-block;
    height: 20px;
    width: 100px;
    background: url(../img/rating_star_g.png) 0 0;
		background-size: 20px;
}
.star-active2{
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    height: 100%;
    background: url(../img/rating_star_y.png) 0 0;
		background-size: 20px;
}


.page-normal {
	margin: 3%;
	margin-left: 30%;
}

.footer {
	position: relative;
	z-index:99999;
	overflow: hidden;
	clear: both;
	width: 100%;
	height: 100px;
	background-color: black;
	color: white;
	font-size: 50px;
}
.footer ul {
	display: inline;
}
